register-page {

    form {
        ion-label {
            margin-left: 10px;
        }
        ion-item {
            padding: 10px 0;
        }
        ion-input,
        ion-textarea {
            padding: 5px 10px;
            border: 1px solid #666 !important;
        }
        ion-select {
            border: 1px solid #666 !important;
            line-height: 45px;
            padding: 0 10px;
        }
        .ion-button {
            margin-top: 25px;
        }
    }
}
