
    .pending {

        h1 {
            text-align: center;
        }


        .content{
            h6 {
                font-weight: 400 !important;
            }

            .accept{
                color: green;
            }
            .deny{
                color: red;
            }
        }

        a{
            text-decoration: none;
        }

        button {
            margin: 5px 0;
        }
    }
