loading-page {
  .login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    background: -webkit-radial-gradient(center, ellipse cover, #37718e 0%,#053c5e 70%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #37718e 0%,#053c5e 70%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    h1 {
      font-family: "Montserrat", "Open Sans", sans-serif;
      font-weight: 700;
      color: white;
      font-size: 50px;
    }

    .header {
      -webkit-flex: 4;
      padding-top: 70px;
    }

    .logo {
      max-width: 200px;
      padding-top: 10px;
    }

    .button-row img {
      max-width: 80%;
      padding-top: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}